
<nav class="indigo">
  <div class="nav-wrapper">
    <div class="container-fluid">
      <a href="#" class="brand-logo">Ember-resize</a>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col s3">
      <h4>Window</h4>
      <ul class="resize-events">
      {{#each resizeEvents as |evt|}}
        <li class={{if evt.debounced 'debounced deep-purple white-text' ''}}>{{evt.width}}, {{evt.height}}</li>
      {{/each}}
      </ul>
    </div>
    <div class="col s9">
      {{yield}}
    </div>
  </div>
</div>
