.resize-events li.debounced {
  position: relative;
  white-space: nowrap;
}

.resize-events li.debounced:after {
  content: 'DEBOUNCED';
  margin-left: 15px;
}

.index-view {
  background-color: #ddd;
  min-width: 500px;
}
